.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 93px;
}
.header__menu {
  max-width: fit-content;
}
.header__links-list {
  display: flex;
  list-style: circle;
  font-size: 18px;
  gap: 33px;
}
.link_active {
  text-decoration: none;
}
.logo-black {
  min-width: 135px;
  min-height: 104px;
}
.links-list-item_no-marker {
  list-style: none;
}
.address {
  display: flex;
  flex-direction: column;
  justify-self: right;
  font-style: normal;
  font-size: 18px;
  line-height: 136%;
  max-width: 240px;
}
.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  color: #fff;
}
.cover-overlay {
  position: absolute;
  width: 1100px;
  height: 757px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.cover-title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 0 50px;
  font-size: 100px;
  letter-spacing: 29px;
  line-height: 115px;
}
.cover-title__text-left {
  margin-left: 1.5px;
  text-align: left;
}
.cover-title__text-center {
  margin-left: 29px;
  padding-top: 20px;
  text-align: center;
}
.cover-title__text-right {
  margin-right: -26.5px;
  padding-top: 20px;
  text-align: right;
}
.cover-description {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 106px 50px 50px;
}
.cover-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  background: transparent;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}
.cover-description__text {
  align-self: center;
  font-size: 22px;
  word-spacing: 18.5px;
}
.lots {
  padding: 180px 24px;
  min-width: 1052px;
  min-height: 723px;
}
.lots-title {
  font-weight: 700;
  font-size: 40px;
  padding: 0 0 27px 40px;
  max-height: fit-content;
  max-width: fit-content;
  text-transform: uppercase;
}
.lots-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.card {
  color: #fff;
  width: 334px;
  height: 596px;
  background-position: center;
  background-size: cover;
}
.card-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 334px;
  height: 596px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.card-description__title {
  max-width: 254px;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  margin: 48px 40px 0;
}
.card-description__text {
  margin: auto 40px 48px 40px;
  max-width: 254px;
  font-size: 20px;
}
.card-content__item-one {
  background-image: url(../images/card-lot-01.jpg);
}
.card-content__item-two {
  background-image: url(../images/card-lot-02.jpg);
}
.card-content__item-three {
  background-image: url(../images/card-lot-03.jpg);
}
.more__about-lots {
  display: block;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  padding: 30px 0 0 40px;
}
.about {
  padding: 120px 24px 180px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  width: 1052px;
  height: 595px;
}
.about__column_logo-white {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000;
}
.about__column-left {
  width: 334px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 50px 82px;
}
.footer__menu {
  text-align: center;
  font-size: 18px;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
}
.social-link {
  max-width: 48px;
  max-height: 48px;
}
