.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}
.header__links-list {
    display: flex;
    list-style: circle;
    gap: 30px;
}
.links-list-item_no-marker {
    list-style: none;
}
.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    max-width: 200px;
}