.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 94px 50px 96px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 50px 82px;
}
.header__menu {
  max-width: fit-content;
}
.header__links-list {
  display: flex;
  list-style: circle;
  font-size: 18px;
  gap: 33px;
}
.link_active {
  text-decoration: none;
}
.logo-black {
  width: 135px;
  height: 103px;
}
.links-list-item_no-marker {
  list-style: none;
}
.address {
  display: flex;
  flex-direction: column;
  justify-self: right;
  font-style: normal;
  font-size: 18px;
  line-height: 136%;
  max-width: 240px;
}
.cover {
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  color: #fff;
}
.cover-overlay {
  position: absolute;
  width: 1100px;
  height: 757px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.cover-title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 0 50px;
  font-size: 100px;
  letter-spacing: 29px;
  line-height: 115px;
}
.cover-title__text-left {
  margin-left: 1.5px;
  text-align: left;
}
.cover-title__text-center {
  margin-left: 29px;
  padding-top: 20px;
  text-align: center;
}
.cover-title__text-right {
  margin-right: -26.5px;
  padding-top: 20px;
  text-align: right;
}
.cover-description {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 106px 50px 50px;
}
.cover-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  background: transparent;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}
.cover-text {
  align-self: center;
  font-size: 22px;
  word-spacing: 18.5px;
}
.footer__menu {
  text-align: center;
  font-size: 18px;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
}
.social-link {
  max-width: 48px;
  max-height: 48px;
}